body {
  background: #70809047;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#chessboard {
  display: grid;
  place-items: center;
  border: 10px solid slategray;
  width: fit-content;
  margin: auto;
  border-radius: 8px;
  user-select: none;
}
.row {
  display: flex;
}
.column {
  width: 12vw;
  height: 12vw;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin: 1px;
}

.column .box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  opacity: 0.3;
  font-size: clamp(0.5rem, -0.125rem + 2vw, 1rem);
}
.single-square {
  cursor: grab;
}
.single-square:hover {
  background: #849cb49e;
}

.square {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.row img {
  width: 85%;
  height: 85%;
}

.dark {
  background: slategrey;
  color: white;
}
.light {
  background: #70809047;
}
.path {
  /* border: 16px dashed lightgreen; */
  background: green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-button {
  color: #fff;
  position: relative;
  margin: 1px;
  display: inline-block;
}
.hover-button span {
  transition: all 0.3s;
}
.hover-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.hover-button:hover span {
  letter-spacing: 2px;
}
.hover-button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.hover-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.hover-button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
