body {
  background: #70809047;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#chessboard {
  display: grid;
  place-items: center;
  border: 10px solid slategray;
  width: fit-content;
  margin: auto;
  border-radius: 8px;
  user-select: none;
}
.column {
  display: flex;
}
.row {
  width: 12vw;
  height: 12vw;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.row .box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  opacity: 0.3;
  font-size: clamp(0.5rem, -0.125rem + 2vw, 1rem);
}
/* .single-square {
  cursor: grab;
} */
.single-square:hover {
  background: #849cb49e;
}

.square {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.row img {
  width: 85%;
  height: 85%;
}

.dark {
  background: slategrey;
  color: white;
}
.light {
  background: #70809047;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
